In [1]:
# Dictionaries
# Dictionaries are used to store and retrieve data within the code syntax
# key - value pair
dict1 = {"Name" :"Akash", "Age":23, "Team":"DevOps" }
dict2 = {"Name":"Vineeta","Age": 22, "Team":"DataScience"}

In [2]:
print(dict1)

{'Name': 'Akash', 'Age': 23, 'Team': 'DevOps'}

In [3]:
print(len(dict1))

3

In [4]:
type(dict1)

dict

In [7]:
X = dict1["Name"]
X

'Akash'

In [8]:
dict1.keys()

dict_keys(['Name', 'Age', 'Team'])

In [9]:
dict2.keys()

dict_keys(['Name', 'Age', 'Team'])

In [10]:
dict1.values()

dict_values(['Akash', 23, 'DevOps'])

In [11]:
dict2.values()

dict_values(['Vineeta', 22, 'DataScience'])

In [13]:
list1 = ["prj1","prj2","prj3"]

In [18]:
list1.reverse()

In [19]:
dict1 = {"Name" :"Akash", "Age":23, "Team":"DevOps","projects":list1 }

In [20]:
dict1["projects"]

['prj3', 'prj2', 'prj1']

In [21]:
newlist = ["prj1","prj2",{"prj3":"Onward Tech Inhouse Proj"}]

In [22]:
newlist

['prj1', 'prj2', {'prj3': 'Onward Tech Inhouse Proj'}]

In [ ]:
# Functions

In [24]:
# Simple function
def func1():
    print("This is inside the function")
func1()

This is inside the function

In [29]:
# Function with parameters / arguments
def add(a,b):
    return(a+b)
def add1(a,b,c):
    return(a+b+c)
    
print(add(4,5))
print(add1(24,10,2))

9
36

In [ ]:
# Arbitrary Parameters *args

In [35]:
def functionarg(*x):
    for i in x:
        print("The num is",i)
        
functionarg(1,2,3,4,5,6,10)

The num is 1
The num is 2
The num is 3
The num is 4
The num is 5
The num is 6
The num is 10

In [ ]:
# Keyword parameters / arguments

In [37]:
def newfunction(**x):
    print("The persons First name is "+x["first"])
    print("The persons Last name is "+x["last"])
newfunction(first= "Saquib", last = "Hussain")

The persons First name is Saquib
The persons Last name is Hussain

In [38]:
# Lamda Function
# Tiny small anonymous function
# Can take any number of parameters

In [39]:
num = lambda x : x**2

In [40]:
print(num(5))

25

In [42]:
num1 = lambda x,y,z : x+y+z
print(num1(1,2,100))

103

In [43]:
# Built-In Math function
x = min(12,34,45,67,34)
x

12

In [45]:
y = max(12,34,45,67,34)
y

67

In [46]:
z = abs(-5345)
z

5345

In [49]:
W = pow(3,4)
W

81

In [ ]:
import math